<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" parallel="classes" thread-count="3" verbose="10">
    <test name="Test for Docker" verbose="10">
        <classes>
            <class name="com.mgk.tau.test.AppTest"/>
            <class name="com.mgk.tau.test.AppTest1"/>
            <class name="com.mgk.tau.test.AppTest2"/>
        </classes>
    </test>
</suite>